*
{
    font-size: 10pt;
}



.table_Paciente
{
    color:Black;
    width:100%;
    font-family: Lucida Sans Unicode;
    border-color : blue;
    border-collapse:collapse;
    border-spacing: 2px;
    text-align:left;
    border-color: #CCCCCC;
}

td
{
    padding: 10px;
    display:table-cell;
}

thead
{
    color:#000;
}

tfoot
{
    border: 15px solid #bb0000;
}


tbody tr
{
    height : 20pt;
    color:#000;
    border-bottom: 1px solid #fff; 
}

tbody tr.row
{
    background-color: #fff;
}

tbody tr.rowodd
{
    background-color: #f7f7f7;
}

tbody tr:hover
{
    background-color: #dfdfdf;
}

.table_Paciente_Desc
{
    width:30%;
}

.table_Paciente_Datos
{
    font-weight:lighter;
    width:60%;
}

.table_Title
{
    text-align:center;
    border-top: 2px solid #bb0000;
}

.table_Subtitle
{
    text-align:center;    
    border-top: 2px solid #bb0000;
    border-bottom: 15px solid #bb0000;
}

.boton
{
	border: thin solid #000000; 
	padding: 2px; 
	margin: 2px; 
	background-color: #C11B17;
	font-family: Verdana; 
	color: #FFFFFF;
    height: 30px;
}

#navcenter
{       
    padding: 20px 0 20px 0;
    text-align:left;
    width: 80%;
    margin: auto;
}

#titulo
{

    /*color: #C11B17;*/
    color: Gray;
    text-align:center;
    font-size: medium;
    width: 70%;
    margin: auto;    
}

#navcontroles
{
    padding: 20px 0 20px 0;
    text-align:center;
    width: 70%;
    margin: auto;
}

.main
{	
	/* sticky footer */
	overflow:auto;
	padding-bottom: 30px;
}

#Form1
{
    min-height: 100%;
    position: relative;
}

#footer
{      
    position: absolute;
    bottom:0;
    height:30px;    
    width:100%;    
    clear: both;
    	
	border-top: 1px solid #ddd;
	background: url('../images/bg.gif') repeat-x;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

#content 
{    
	width: 970px; 
	margin: auto;
}