/* GENERALES
----------------------------------------------------------*/

#titulo
{

    /*color: #C11B17;*/
    color: Gray;
    text-align:center;
    font-size: medium;
    width: 75%;
    margin: auto;
}

.h3
{ color: Red;
    text-align:left;
    font-size: medium;
}
    
#navcenter
{
    padding: 20px 0 20px 0;
    text-align:left;
    width: 80%;
    margin: auto;
}

.navcenter
{
    padding: 20px 0 20px 0;
    text-align:left;
    width: 80%;
    margin: auto;
}
         
#navcontroles
{
    padding: 20px 0 20px 0;
    text-align:left;
    width: 80%;
    margin: auto;
}

#navBotones
{
    padding: 20px 0 20px 0;
    text-align:center;
    width: 80%;
    margin: 0px auto auto auto;
}

#navBotonmenor
{
    width: 22px;
    height: 26px;
    margin: auto;
    top: 150px;
    left: 350px;
}

#navBotonmayor
{
    width: 22px;
    height: 26px;
    margin: auto;
    top: 500px;
}

.cajas
{
    padding: 10px 0 10px 0;
}
.boton
{
border: thin solid #000000;
padding: 2px;
margin: 2px;
background-color: #C11B17;
font-family: Verdana;
color: #FFFFFF;
}


fieldset
{
    padding: 10px 5px 10px 5px;
    text-align:left;
    width: 100%;
    margin: auto;
}

.list
{
    margin: 10px 0 10px 0;
    list-style-type: none;
}


.label
{
    color: Black;
    padding: 1px;
    width: 20%;
    float: left;
    text-align: right;
}
/* Default
----------------------------------------------------------*/
.parrafo
{
    text-align: center;
    margin-bottom: 10px;
    color: Black;
}

#about
{
    width:60%;
    margin: auto;
}

/* Crear_Permisos
----------------------------------------------------------*/
.field .tb_Permiso
{
    width: 50%;
}

.field .tb_Requerido
{
    border-left-color: Red;
    border-left-style: solid;
    border-left-width: 3px;
    width: 50%;
}

.field .tb_Permiso2
{
    width: 40%;
}

/* Eliminar_Permisos
----------------------------------------------------------*/
#ctrlCentrado
{
    text-align:left;
    width: 50%;
    margin: auto;
}

/* Crear_Roles
----------------------------------------------------------*/
.tb_crearRol
{
    /*width: 80%;*/
    font-size: x-small;
    width: 60%;
}

.panelRoles
{
    height: 200px;
    width:50%;
    margin: auto;
}

.panelRoles2
{
    height: 200px;
    width: 80%;
    margin: auto;
}

/*Editar_Roles
---------------------------------------------------------*/
#perActs
{
    width:49%;
    float:left
}

#perAds
{
    width:49%;
    float:left
}
  
#resetFloats
{
    clear:both;
}

/*Usuarios------------------------------------------------------*/
.listbox
{
   /* Height:121px;
Width:127px;*/
     Height:154px;
     Width:155px;
    }
    
    .labelUser
    {
    Width:108px;
    color: Black;
    padding: 1px;
    float: left;
    text-align: right;
        
        }

/*Empleados
------------------------------------------------------*/

.txtbx_Empleado
{
    width: 40%;
}

.cmb_Empleado
{
    Width: 40%;
}

.field .dropdownlist
{
    width: 55%;
    margin-bottom: 0;
}

.field .listbox
{
}

/*Eliminar Usuarios
--------------------------------------------------------*/
.cmb_usuarios
{
    width: 60%;
}

/*
--------------------------- MENUS DE USUARIOS
*/

#menuizq
{
    float:left;
    /*position: absolute;*/
    text-align: right;
    width:30%;
    /*width: 127px;*/
    top: 350px;
    left: 200px;
    padding: 1px;
    z-index: 0;
}

#centertabla
{
    float:left;
    text-align:right;
    width:52%;
    left: 400px;
    top: 400px;
}

#centergrid
{
    float:left;
    text-align:right;
    width: 20%;
    top: 600px;
}
    
#menuder
{
    float:left;
    /*position: absolute;*/
    text-align: left;
    width:30%;
    /*width: 127px;*/
    /*top: 350px;
left: 490px;
padding:1px;
z-index:0;*/
}
    
#menubotones
{
    float:left;
    /*position: absolute;*/
    text-align: center;
    width:39%;
    margin-top:5%;
    /*width: 127px;*/
    /*top: 350px;
left: 350px;
padding:1px;
z-index:0;
height: 121px;*/
}

#espaciadorBotones
{
    margin: 5%;
}

#ctrlCentrado2
{
    width: 80%;
    margin: auto;
}

#Div1
{
    text-align:center;
    margin: 10px 0 10px 0;
}

.calendar
{
    width:24px;
    height:20px;
    background-image: url('../images/calendar_icon.jpg');
}

/*--------------- Diagnosticos---------------*/
#separar
{
    margin: 2%;
}
   

/*-------------SEGUIMIENTO DE PACIENTES*/

.cmbpatologias
{
    Height: 23px;
    Width: 20%;
 }
    
    .botonsegpacientes
{
border: thin solid #000000;
padding: 2px;
margin: 2px;
background: url('../images/Search.png')no-repeat;
Height: 34px;
    width:40px;
}


.botonbusquedarapida
{
    Height: 23px;
    Width:25px;
    border: thin grooved #000000;
 }

/*---------------Busqueda Rapida seguimiento pacientes*/


.txtbx_QuickSearch
{
    width:60%;
}

.resetFloats
{
    clear:both;
}

.customValidator
{
    text-align:center;
}
/*------Creacion de Citas*/
.txtbx_labelC
{
     width: 117px;
     margin-left:18%
}

.txtbx_labelH
{
     width: 117px;
     margin-left:100%
}

.requerido
{
    border-left-color: Red;
    border-left-style: solid;
    border-left-width: 3px;
}

.fieldIzquierdo
{
    float: left;
    width: 45%;
    padding: 3px 10px 3px 10px;
}

.fieldDerecho
{
    float: right;
    width: 45%;
    padding: 3px 10px 3px 10px;
}

.failureNotification
{
    padding-left: 3px;
    color: Red;
}

.panel
{
    width: 820px;
    height:200px;
    padding:10px 30px 10px 30px;
}

.centrar
{
    padding-left: 17%;
}