<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>

  <add name="teletonEntities" connectionString="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=my01.winhost.com;User Id=teletonback;database=mysql_14667_teletonback;password=2t0e1l1eton;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  </configuration>