<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <pages validateRequest="false" maintainScrollPositionOnPostBack="true"></pages>
    <trust level="Full" originUrl="" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--<authentication mode="Forms">
			<forms name="teleton_sys" loginUrl="Login.aspx" cookieless="AutoDetect" defaultUrl="Default.aspx">
			</forms>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>    -->
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
  <connectionStrings>
    <add name="teletonEntities" connectionString="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=my01.winhost.com;User Id=teletonback;database=mysql_14667_teletonback;password=2t0e1l1eton;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
   </connectionStrings>

  <!--<location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>-->
</configuration>
